<img id="record" src="assets/recp.png" onclick="toggleRecord(this);">
<div style="width:100%;">
    <h2><a id="save" href="#">Play</a></h2>
<%= javascript_include_tag "recorderOGG" %>
<%= javascript_include_tag "recogg" %>


